In [1]:
import pandas as pd

In [8]:
path = 'C:/Users/dsadm/Desktop/Inteligência Artificial/IABD/codigos/Aula09-TA-18.09.2023/Social_Network_Ads.csv'
df = pd.read_csv(path)

In [16]:
df.head()

   Usuario ID  Genero  Idade  Salario Estimado  Comprou
0    15624510    Male     19             19000        0
1    15810944    Male     35             20000        0
2    15668575  Female     26             43000        0
3    15603246  Female     27             57000        0
4    15804002    Male     19             76000        0

In [4]:
dic = {"User ID": "Usuario ID", "Gender": "Genero","Age":"Idade","EstimatedSalary": "Salario Estimado","Purchased":"Comprou"}

In [14]:
df.rename(columns=dic,inplace=True)

In [17]:
# import bibliotecas 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from matplotlib.colors import ListedColormap

In [ ]:
df.isnull() #retorna valores nulos

In [ ]:
df.isna() #retorna valores que não são numeros